body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main{
    width: 100%;
}
nav{
    width: 100%;
    background-color: black;
    height: 80px;
    line-height: 80px;
    display: flex;
    justify-content: space-between;
}
.logo a{
    font-family: cursive;
    font-size: 40px;
    color: crimson;
    font-weight: bold;
    margin: 100px;
    left: 90%;
}
a{
    text-decoration: none;
    color: blanchedalmond;
    font-size: 19px;
    transition: 0.3 all ease;
}
ul{
    font-style: italic;
    margin: 0px;
    margin-right: 100px;
}
ul li{
    float: left;
    padding: 0px 20px;
    list-style: none;
}
ul li a:hover{
    color: crimson;

}
.header{
    background-image:url("istockphoto-1203219450-170667a.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;

}
.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color:white;
    text-align: center;
}
.content h1{
    font-size: 50px;
}
.content p{
    padding: 0px 100px;
    font-size: 20px;
}
button{
    background:none;
    border: 1px solid white;
    color: white;
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 10px;
    transition: 1s all ease;

}
button:hover{
    background: black ;
    color: red;
}
.overlay{
    background:rgba(0, 0, 0, 0.8);
    height:100vh;
}